name: adaptive_responsive
description: A production-ready Flutter package for building fully responsive and adaptive layouts with customizable breakpoints, responsive values, and utility extensions.
repository: https://github.com/adeel797/adaptive_responsive
version: 1.0.0

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=3.10.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0